body {
    background-color:gray;
}
.container {
    width: 600px;
    height: 520px;
    margin: 0 auto;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 2px;
    position: relative;
    background-color: white;
}
p {
    color: grey;
    margin-top: -16px;
    margin-bottom: -15px;
}
.form {
    display:flex;
    width: 560px;
    height: 354px;
    margin-top: 17px;
    font-size: 18px;

}
label {
   display: inline-block;
   width: 135px;
   margin-top: 27px;
}
.inp {
    width: 261px;
    height: 40px;
    padding-left: 7px;
    border-radius: 20px;
    background: #F5F5F5;
    border: none;
    margin-top: 7px;
    
}
.inp2 {
    display: flex;
    position: absolute;
    width: 540px;
    height: 74px;
    border-radius: 20px;
    background: #F5F5F5;
    border: none;
    padding-left: 7px;
    margin-top: 7px;
}
.btn {
    border-radius: 20px;
    height: 41px;
    width: 100px;
    color: white;
    background: rgb(109, 109, 109);
    font-size: 16px;
    border: none;
}


